Ramiro Gonzalez

Chapter 2

Gaddis, T. (2019). Starting out with Python. New York, NY: Pearson

In [1]:
print("Hello, world");

Hello, world

In [2]:
print('Kate Austen')
print('123 Full Circle Drive')
print('Ashevill, NC 28899')

Kate Austen
123 Full Circle Drive
Ashevill, NC 28899

In [3]:
print('Your assignment is to read "Hamlet" by tomorrow.')

Your assignment is to read "Hamlet" by tomorrow.

In [4]:
print("""I'm reading "Hamlet" tonight.""")

I'm reading "Hamlet" tonight.

In [5]:
print("""One 
Two 
Three """)

One
Two
Three

In [6]:
# This program displays a person's
# name and address
print('Kate Austen')
print('123 Full Circle Drive')
print('Asheville, NC 28899')

Kate Austen
123 Full Circle Drive
Asheville, NC 28899

In [7]:
room= 503
print('I am staying in room number',room)

I am staying in room number 503

In [8]:
dollars = 2.27;
print('I have',dollars,'in my account.')
dollars = 99.95;
print('But now I have',dollars,'in my account')

I have 2.27 in my account.
But now I have 99.95 in my account

In [9]:
variable = input("Hey, What is your name");

Hey, What is your nameRamiro

In [10]:
variable

'Ramiro'

In [11]:
first_name = input('Enter your first name: ')
last_name = input('Enter your last name: ')
print('Hello',first_name, last_name)

Enter your first name: ramiro
Enter your last name: gonzalez
Hello ramiro gonzalez

In [12]:
string_value = input('How many hours did you work? ')
hours = int(string_value)
hours = int(input('How many hours did you work? '))

How many hours did you work? galvez

ValueError: invalid literal for int() with base 10: 'galvez'

In [13]:
total_seconds = float(input('Enter a number of seconds'))
hours = total_seconds//3600; 
minutes = (total_seconds//60)%60
seconds = total_seconds%60
print('Here is the time in hours, minutes, and seconds: ')
print('Hours:',hours)
print('Minutes: ',minutes)
print('Seconds: ',seconds)

Enter a number of seconds3
Here is the time in hours, minutes, and seconds:
Hours: 0.0
Minutes:  0.0
Seconds:  3.0

In [14]:
units_sold = 4; sales_amount = 4;
print('We sold',units_sold, \
     'for a total of',sales_amount)

We sold 4 for a total of 4

In [15]:
print('One', end=' ')
print('Two', end=' ')
print('Three')

One Two Three

In [16]:
print('One','Two','Three', sep = '*')

One*Two*Three

In [17]:
print('Mon\tTues\tWed')
print('Thur\tFri\tSat')

Mon	Tues	Wed
Thur	Fri	Sat

In [18]:
print("Your assignment is to read \"Hamlet\" by tomorrow.")
print('I\'m ready to begin.')

Your assignment is to read "Hamlet" by tomorrow.
I'm ready to begin.

In [19]:
amount_due = 5000.0;
monthly_payment = amount_due/12.0;
print('The monthly payment is ', monthly_payment)

The monthly payment is  416.6666666666667

In [20]:
print(format(12345.6789, '.2f'))

12345.68

In [21]:
print(format(12345.678,'e'))

1.234568e+04

In [22]:
print(format(12345.678,'.2e'))

1.23e+04

In [23]:
a = 20; b = 40; c = 30; 
(x,y,z) = (a,b,c)
print(x,y,z)

20 40 30

#  Personal Information

In [24]:
print('Ramiro Gonzalez')
print('000 00st W, Merced, california, 00000')
print('209-962-2524')
print('Computer Science and Engineering')

Ramiro Gonzalez
000 00st W, Merced, california, 00000
209-962-2524
Computer Science and Engineering

#  Sales Prediction

In [25]:
total_sales = float(input("Enter the projected amount of total sales: "))
annual_profit = .23*total_sales
print('Annual profit is ', annual_profit)

Enter the projected amount of total sales:

ValueError: could not convert string to float:

#  Land Calculation

In [ ]:
total_sqft = float(input('Enter the total squre feet in a tract of land: '))
number_acres = total_sqft/43560;
print('Number of acres is: ', number_acres)

#  Total Purchase

In [ ]:
sales_tax = .07; 
item1 = float(input('Price of item 1: '))
item2 = float(input('Price of item 2: '))
item3 = float(input('Price of item 3: '))
item4 = float(input('Price of item 4: '))
item5 = float(input('Price of item 5: '))
subtotal = item1 + item2 + item3 + item4 + item5
sales_tax_amount = subtotal*sales_tax
total = subtotal + sales_tax_amount
print('Total is : ',total)

#  Distance Traveled

In [ ]:
speed = 70; #mph
time = 6
distance = speed*time
print('Distance for 6 hours',distance)
time = 10
distance = speed*time
print('Distance for 10 hours',distance)
time = 15
distance = speed*time
print('Distance for 15 hours',distance)

# Sales Tax

In [ ]:
purchase_amount = float(input('Purchase price: '))
state_tax = .05
county_tax = .025;
total_tax = state_tax + county_tax;
total_tax_price = total_tax*purchase_amount;
total = purchase_amount + total_tax_price; 
print('Amount of purchase ', state_tax, ' county tax ' \
      , county_tax, 'total_tax ',format(total_tax,'.3f'), \
     ' total sale price ', total)

#  Miles-Per-Gallon

In [ ]:
miles_driven = float(input('Miles driven: '))
gallons_used = float(input('gallons of gas used: '))
mpg = miles_driven/gallons_used;
print('MPG: ', mpg)

#  Tip, Tax, and Total

In [ ]:
food_price = float(input('The price of the food: '))
food_price_tip = .18*food_price;
food_price_tax = .07*food_price;
total = food_price + food_price_tip + food_price_tax; 
print('Food price is ', food_price \
     ,' tip is ', food_price_tip, ' sales tax price ', format(food_price_tax,'.2') \
     ,' and total is ', total)

# Celsius to Fahrenheit Temperature Converter

In [ ]:
celsius_input = float(input('Enter temperature in Celsius'))
fahrenheit = 9.0/5 + 32; 
print('Temperature in ', celsius_input , ' Celsius is ', fahrenheit, ' Fahrenheit' )

# Ingredient Adjuster

In [ ]:
number_cookies = int(input('Enter number of cookies: '))
num_of_cups = number_cookies/48; 
print('You need ', format(num_of_cups*1.5,'.2f'), 'cups of sugar')
print('You need ', format(num_of_cups*1,'.2f'), 'cups of sugar')
print('You need ', format(num_of_cups*2.75,'.2f'), 'cups of flour')

# Male and Female Percentages

In [ ]:
number_females = int(input('Enter number of females enrolled in course: '))
number_males = int(input('Enter number of males enrolled in course: '))
total_students = number_females + number_males; 
percent_female = number_females/total_students; 
percent_male = number_males/total_students; 
print('Percentage of females enrolled is  ',format(percent_female,'.0%') \
      , 'and ', format(percent_male,'.0%') ,'males')

# Stock Transaction Program

In [ ]:
shares = 2000;
buy_price = 40;
sell_price = 42.75;
amount_paid = shares*buy_price
commission_fee_buy = .03*amount_paid
total_buy = amount_paid + commission_fee_buy;
amount_sold_price = shares*sell_price
commission_fee_sell = .03*amount_sold_price; 
total_sell = amount_sold_price - commission_fee_sell;
print('The amount money paid for the stock',amount_paid)
print('Commision paid for buying stock ', commission_fee_buy)
print('Amount made from selling stock', amount_sold_price)
print('Commission paid for selling stock',commission_fee_sell)
profit = total_sell - total_buy; 
print('The profit is ', profit)